[submodule "GBD-PCG"]
	path = GBD-PCG
	url = git@github.com:A2R-Lab/GBD-PCG.git
[submodule "qdldl"]
	path = qdldl
	url = https://github.com/osqp/qdldl.git
[submodule "GLASS"]
	path = GLASS
	url = git@github.com:A2R-lab/GLASS.git
[submodule "external/GBD-PCG"]
	path = external/GBD-PCG
	url = git@github.com:A2R-Lab/GBD-PCG.git
[submodule "external/GLASS"]
	path = external/GLASS
	url = git@github.com:A2R-Lab/GLASS.git
[submodule "external/qdldl"]
	path = external/qdldl
	url = https://github.com/osqp/qdldl.git
